@{
    ViewBag.Title = "Inicio";
}

<main>
    <section class="div-form-views" aria-labelledby="aspnetTitle">
        <h1 id="title">Práctico 7 - ASP.NET WEB API</h1>
        <h2>CRUD realizado sobre las entidades Categories y Employees provenientes de la base de datos "Northwind"</h2>
    </section>
</main>