<div>
  <div>
    <p>
      <mat-toolbar class="color-asd" style="display: flex;flex-direction: row; justify-content: center;">

        <div class="dropdown">
          <a class="dropdown a-position" type="button" data-bs-toggle="dropdown" aria-expanded="false"
            mat-button>Categorías</a>
          <ul class="dropdown-menu">
            <li> <a mat-button [routerLink]="['/listadoCategorias']">Listado Categorías</a></li>
            <li> <a mat-button [routerLink]="['/altaCategoria']">Añadir nueva Categoría</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <a class="dropdown a-position" type="button" data-bs-toggle="dropdown" aria-expanded="false" mat-button>
            Empleados</a>
          <ul class="dropdown-menu">
            <li> <a mat-button [routerLink]="['/listadoEmpleados']">Listado Empleados</a></li>
            <li> <a mat-button [routerLink]="['/altaEmpleado']">Añadir nuevo Empleado</a></li>
          </ul>
        </div>

      </mat-toolbar>
    </p>
  </div>

  <div style="display: flex;flex-direction: column;justify-content: center;margin: 70px">
    <mat-card class="example-card">
      <mat-card-title>Práctico 8 - Angular + ASP.NET WEB API</mat-card-title>
      <mat-card-subtitle>Federico Gordillo</mat-card-subtitle>
      <mat-card-content>
        <p>CRUD realizado sobre las entidades Categories y Employees <br> provenientes de la base de datos Northwind</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
