:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.body-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 25 auto;

  text-align: center;
}
.button-position {
  display: flex;
  align-items: center;
}
.button-margin {
  margin-right: 10px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px auto;
}
.mat-card-style {
  width: 500px;
  height: 325px;
  padding: 20px;
}
.error-message {
  color: red;
}
.validation {
  display: none;
  color: red;
}
