<div class="form-container">
  <mat-card class="mat-card-style">
    <form class="body-form" [formGroup]="formulario">
      <h1>Modificar Categoría</h1>
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input type="text" id="inputNombre" name="CategoryName" formControlName="CategoryName" matInput>
      </mat-form-field>
      <div #divValidacion style="display: none; color: red;">
        <p>El campo Nombre no puede superar los 15 caracteres</p>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <input type="text" id="inputDescripcion" name="Description" formControlName="Description" matInput>
      </mat-form-field>

      <div class="button-position">
        <button class="button-margin btn btn-success" (click)="guardar()">Guardar</button>
        <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </mat-card>
</div>
