<div class="form-container">
  <mat-card class="mat-card-style">
    <form class="body-form" [formGroup]="formulario">
      <h1>Modificar Empleado</h1>
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input type="text" id="inputNombre" name="FirstName" formControlName="FirstName" matInput>
      </mat-form-field>
      <div *ngIf="validarNombre">
        <p class="error-message">El campo no puede superar los 10 caracteres</p>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input type="text" id="inputApellido" name="LastName" formControlName="LastName" matInput>
      </mat-form-field>
      <div *ngIf="validarApellido">
        <p class="error-message">El campo no puede superar los 20 caracteres</p>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Cargo</mat-label>
        <input type="text" id="inputCargo" name="Title" formControlName="Title" matInput>
      </mat-form-field>
      <div *ngIf="validarCargo">
        <p class="error-message">El campo no puede superar los 30 caracteres</p>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>País</mat-label>
        <input type="text" id="inputPais" name="Country" formControlName="Country" matInput>
      </mat-form-field>
      <div *ngIf="validarPais">
        <p class="error-message">El campo no puede superar los 15 caracteres</p>
      </div>
      <div class="button-position">
        <button class="button-margin btn btn-success" (click)="guardar()">Guardar</button>
        <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </mat-card>
</div>
